html {   
    min-width: 320px;   
    max-width: 1400px; 
}

body {
    background-color: #caf0f8;
}

.contenedor {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #caf0f8;
}

.texto {
    position: absolute;
    width: 53%;
    height: 70%;
    left: 7%;
    top: 8%;
    border: none;
    font-family: "Lucida Bright";
    font-style: italic;
    font-size: 1.5em;
    font-weight: 500;
    line-height: 140%;
    background-color: #caf0f8;
}

.texto::placeholder {
    color: #023e8a;
}

.texto:focus,
.texto:active {
    border: none;
    outline: none;
}

.terminos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1px;
    gap: 9px;
    position: absolute;
    width: 80%;
    left: 8%;
    top: 80%;
}

.terminos p {
    font-family: "Lucida Bright";
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #7d8597;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.botones {
    display: flex;
    text-align: center;
    flex-grow: row;
    align-items: flex-start;
    padding: 2%, 0;
    position: absolute;
    width: 80%;
    left: 10%;
    top: 86%;
}

.btn-encriptar {
    align-items: center;
    justify-content: center;
    padding: 19.3px;
    gap: 7px;
    width: 25%;
    background-color: #03045e;
    border-radius: 4px 4px 20px 20px;
    font-family: "Courier";
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #e0e1dd;
    box-sizing: border-box;
    border: 1px solid #0077b6;
    cursor: pointer;
    margin-right: 30px;
    transition: 0.5s;
    box-shadow: 0px 13px 20px 1px rgba(0, 0, 0, 0.5);
    position: relative;
    left: -4%;
}

.btn-desencriptar {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    flex-direction: row;
    box-sizing: border-box;
    padding: 19.3px;
    gap: 7px;
    width: 25%;
    background-color: #52b69a;
    border: 1px solid #34a0a4;
    font-family: "Courier";
    border-radius: 4px 4px 20px 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #0d1b2a;
    cursor: pointer;
    margin-left: 30px;
    transition: 0.5s;
    box-shadow: 0px 13px 20px 1px rgba(0, 0, 0, 0.5);
    position: relative;
    left: -5%;
}

.btn-copiar {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    flex-direction: row;
    box-sizing: border-box;
    padding: 19px;
    gap: 3px;
    width: 10%;
    background-color: #ffba08;
    border: 1px solid #faa307;
    font-family: "Courier";
    border-radius: 4px 4px 20px 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #0d1b2a;
    cursor: pointer;
    margin-left: 30px;
    transition: 0.5s;
    box-shadow: 0px 9px 15px -1px rgba(0, 0, 0, 0.5);
    position: relative;
    left: -4%;
}

.btn-desencriptar:hover {
    transform: scale(1.13);
    background-color: #34a0a4;
}

.btn-encriptar:hover {
    transform: scale(1.13);
    background-color: #023e8a;
}

.btn-copiar:hover {
    transform: scale(1.13);
    background-color: #ffc600;
}

.encriptado {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 25%;
    height: 86%;
    left: 66%;
    top: 7%;
    transform: scale(1.12);
    background: #d3e8ec;
    box-shadow: 0px 28px 38px -10px rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 30px 30px;
}

.mensaje-encriptado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 12px;
    position: absolute;
    width: 100%;
    top: 75%;
    text-align: center;
}

.mensaje-encriptado h2 {
    width: 60%;
    font-size: 20px;
    font-family: "Lucida Bright";
    font-weight: 700;
    font-style: normal;
    line-height: 120%;
    text-align: center;
    color: #33415c;
}

.mensaje-encriptado p {
    font-family: "Lucida Bright";
    font-weight: 450;
    font-style: normal;
    line-height: 120%;
    text-align: center;
    width: 80%;
    font-size: 13px;
    color: #5c677d;
}

.encriptado img {
    position: absolute;
    width: 80%;
    height: 50%;
    top: 15%;
}

/*Parte para cuadrar la repuestas en varios dispositivos*/

@media (max-width:800px) {
    .contenedor {
        display: block;
        flex-direction: row;
        padding: 8%;
        flex-wrap: wrap;
        padding: 20px;
    }

    .zonaEncriptar {
        width: 100%;
    }

    .texto {
        width: 80%;
        height: 60%;
        left: 10%;
        top: 5%;
    }

    .terminos {
        width: 80%;
        left: 10%;
        top: 67%;
    }

    .terminos p {
        font-size: 15px;
    }

    .botones {
        width: 80%;
        left: 10%;
        top: 73%;
        left: 8%;
    }

.btn-encriptar,
.btn-desencriptar {
    display: flex;
    width: 49%;
    border-radius: 20px;
    margin:10px;
}

.btn-copiar {
    position: absolute;
    width: 40%;
    border-radius: 21px;
    top: 95%;
    left: 14%;
}

.btn-encriptar:hover,
.btn-desencriptar:hover {
    transform: scale(1.1);
}

.encriptado {
    width: 74%;
    height: 20%;
    left: 6%;
    margin: 1px;
    top: 95%;
}

.mensaje-encriptado {
    width: 100%;
    top: 5%;
}

.encriptado img {
    top: 0%;
    display: none;
    visibility: hidden;
}
}